<!-- I used tailwind for my UI framework. See documentation here: https://tailwindcss.com/ -->

<div
  class="h-16 w-16 md:h-32 md:w-32 absolute bg-indigo-500 rounded-br-full"
></div>
<div
  class="bottom-0 right-0 h-16 w-16 md:h-32 md:w-32 absolute bg-indigo-500 rounded-tl-full"
></div>

<div class="flex flex-col md:flex-row h-full w-full bg-white">
  <div class="flex flex-col h-auto w-full md:w-9/12 mt-24 md:mt-0">
    <div class="h-auto w-auto my-auto md:pl-12 lg:ml-auto px-2 md:px-0">
      <h1
        class="font__bold text-3xl md:text-4xl lg:text-5xl text-center md:text-left text-indigo-600"
      >
        Cells Web App
      </h1>
      <p
        class="font__regular text-sm md:text-xl text-center md:text-left text-gray-700"
      >
        Simple Angular application <br class="hidden md:block" />
        for Assessment.
      </p>
    </div>
  </div>
  <app-login-component class="flex h-full w-full"></app-login-component>
  <app-create-component
    *ngIf="isShowCreateComponent()"
    class="flex w-full h-full fixed bg-white self__opacity"
  ></app-create-component>
</div>
