<!-- I used tailwind for my UI framework. See documentation here: https://tailwindcss.com/ -->

<div
  class="fit__content w-full md:w-8/12 lg:w-6/12 mx-auto md:my-auto md:rounded-lg md:shadow-lg py-3 px-5 bg-white"
>
  <div class="flex flex-col h-auto w-full my-3">
    <div class="h-auto w-auto mb-3">
      <input
        type="text"
        id="username"
        class="font__medium fields__shadow p-3 h-10 md:h-12 w-full rounded-md appearance-none leading-tight bg-gray-100 text-gray-800 border border-gray-400 focus:outline-none focus:border-blue-600"
        autocomplete="off"
        placeholder="Enter Username"
      />
    </div>

    <div class="w-auto h-auto">
      <input
        type="password"
        id="password"
        class="font__medium fields__shadow p-3 h-10 md:h-12 w-full rounded-md appearance-none leading-tight bg-gray-100 text-gray-800 border border-gray-400 focus:outline-none focus:border-blue-600"
        autocomplete="off"
        placeholder="Enter Password"
      />
    </div>

    <div class="flex flex-col h-auto w-full mt-4">
      <button
        class="eina__bold h-12 w-full p-2 cursor-pointer text-lg text-white rounded-md transition duration-300 bg-indigo-600 hover:bg-indigo-500 hover:shadow-md focus:outline-none"
      >
        Log In
      </button>

      <div class="or__text font__regular text-gray-700 my-3 mx-auto">
        <span class="mx-2">or</span>
      </div>

      <button
        (click)="showCreateComponent()"
        class="eina__medium h-12 w-3/6 md:w-9/12 p-2 mx-auto cursor-pointer text-white rounded-md transition duration-300 bg-green-500 hover:bg-green-400 hover:shadow-md focus:outline-none"
      >
        Create an Account
      </button>
    </div>
  </div>
</div>
